<!DOCTYPE html>

<html lang="en">
	<head>
		<title>Juan Emeterio | Superlists</title>
		<link rel="shortcut icon" href="http://faviconist.com/icons/74d732cef867eee778def9d2db5080bc/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/static/base.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class = "navbar navbar-inverse navbar-fixed-top">
			<div class = "container">
				 <a href = "http://www.juanemeterio.com/" class = "navbar-brand">Juan J. San Emeterio</a>

				 <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				 	<span class = "icon-bar"></span>
				 	<span class = "icon-bar"></span>
				 	<span class = "icon-bar"></span>
				 </button>

				 <div class= "collapse navbar-collapse navHeaderCollapse">
				 	<ul class = "nav navbar-nav navbar-right">
				 		<li id = "home_link"><a href = "http://www.juanemeterio.com/" >Home</a></li>
				 		<li id = "blog_link"><a href = "http://www.juanemeterio.com/content/blog" >Blog</a></li>
				 		<li class = "active" id = "projects_link"><a href = "http://www.juanemeterio.com/content/projects" >Projects</a></li>
				 		<li id = "about_link"><a href = "http://www.juanemeterio.com/content/about" >About</a></li>
				 		<!--<li><a href = "#contact" data-toggle = "modal">Contact</a></li>-->


				 	</ul>

				 </div>
			</div>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-md-6 col-md-offset-3 jumbotron">
					<div class="text-center">

						<h1>{% block header_text %}{% endblock %}</h1>
						<form method="POST" action="{% block form_action %}{% endblock %}">
							<input name="item_text" id="id_new_item" 
							class="form-control input-lg"
							placeholder="Enter a to-do item" 
							/>
							{%csrf_token%}
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					{% block table %}
					{% endblock %}
				</div>
			</div>
			
		</div>

		
	</body>
</html>